<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group my-4">
        <input #inputBook (keyup.enter)="getInputBook(inputBook.value)" id="inputBook" value="" type="text" class="form-control" placeholder="Title, Author, Description...">
        <div class="input-group-append">
          <button (click)="getInputBook(inputBook.value)" class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row">
    <div *ngFor="let book of books" class="col-md-6">
      <div class="card my-2 shadow" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <a target="_blank" href="{{book.volumeInfo.previewLink}}" ><img src="{{ book.volumeInfo?.imageLinks?.thumbnail != null ? book.volumeInfo.imageLinks.thumbnail : 'assets/images/No-Image-Available.png'}}" 
            class="card-img center"></a>
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <a target="_blank" href="{{book.volumeInfo.previewLink}}"><h5 class="card-title">{{book.volumeInfo.title | titlecase |slice:0:70}}</h5> </a>
              <p class="card-text"><small class="text-muted">{{book.volumeInfo.authors[0]}}</small></p>
              <p class="card-text">{{book.volumeInfo.description | slice:0:130}} {{book.volumeInfo.description.length > 130 ? '. . .' : ''}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
